<nav class="transparent" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo">
           <img src ="{{ site.url }}/assets/images/sitewide/innit_logo-rgb.svg" style="height:30px;"></a>
      <a class="brand-logo" href="{{ "/" | relative_url }}">
        <object type="image/svg+xml" data="{{ site.url }}/assets/images/sitewide/innit_logo-white.svg">Your browser does not support SVG</object>
      </a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right hide-on-med-and-down">
          {% assign pages = site.pages | sort: 'order' %}
            {% for page in pages %}
                {% if page.menu == 'main' %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="">Join Waitlist</a>            
          </ul>

          <ul id="nav-mobile" class="side-nav">
            {% for page in site.pages %}
                {% if page.menu == 'main' %}
                    <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>        

      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>