---
layout: default
---
<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>
  
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="divider"></div>
      <div class="row">
      <div class="col s5 offset-s1 left-align">
        <h4>Revolutionize <br>
        the Way You Eat</h4>
        <h6>The free Innit app makes meal planning, shopping, <br>
        preparing and cooking fast, fun, and healthy</h6>
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Download FREE App</a>
      </div>
      </div>
      <br><br>

    </div>
  </div>
<div class="divider"></div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s5 offset-s6 right-align">
          <h4>Personalized<br> to You</h4>
          <h6>Innit helps you cook entrie meals that are <br>automatically personalized to your likes and <br>needs. Our quick quiz and smart technology <br> personalizes recipes for you.
        </div>

      </div>

    </div>
<div class="divider"></div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s5 offset-s1 left-align">
          <h4>Personalized<br> to You</h4>
          <h6>Innit helps you cook entrie meals that are <br>automatically personalized to your likes and <br>needs. Our quick quiz and smart technology <br> personalizes recipes for you.</h6>
        </div>
  </div>

      </div>

    </div>
    </div>
    </div>